body {
    padding: 2px;
    background-color: #f2f2f2;
}
#header {
    background-color: #333333;
    height: 300px;
    text-align: top;
    width: 50%;
    float: left;
    clear: left; 
    padding-bottom: 2px;
}
#header h1 {
    font-size: 700%;
    font-weight: normal;
    text-align: left;
    color: yellow;
    font-family: sans-serif;
    vertical-align: middle;
}
#nav {
    background-color: #333333;
    height: 100px;
    width: 50%;
    text-align: bottom;;
    float: right;
    padding-top: 200px;
    padding-bottom: 2px;
    clear: right;
    vertical-align: middle;
}
#nav h2 {
    float: right;
    padding-right: 3%;
}
#navop2 {
    color: white;
}
#navop1 {
    color: #999999;
    padding-right: 5px;
}
#image1 {
    margin-top: 350px;
    background-image: url(big_img.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 800px;
}
#image1p1 {
    font-size: 300%;
    color: #333333;
    line-height: 10%;
    padding-top: 10px;
    font-style: italic;
}
#image1p2 {
    font-size: 100%; 
    color: gray;
    font-style: italic;
}
#part2 {
    background-color: white;
    padding-bottom: 2%;
}
#part2 h3 {
    padding-top: 3%;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 200%;
    font-family: sans-serif;
    font-weight: 600;
    color: #4d4d4d;
}
#part2 p {
    padding-right: 5%;
    padding-left: 5%;
    font-family: sans-serif;
    line-height: 150%;
    text-align: justify;
    color: #a6a6a6;
    font-weight: 300;
    font-size: 180%;
}
button {
    color: white;
    background-color: #262626;
    width: 200px;
    height: 80px;
    margin-left: 5%;
    font-weight: bold;
    border-radius: 40px;
    font-size: 120%   
}
#part3 {
    background-color: white;
    padding-bottom: 20%;
}
#part3 ul li {
    background-color: white;
    padding-left: 8%;
    padding-right: 8%;
    float:left;
    list-style-type: none;
    align-content: center
}
.cap1 {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
}
.cap2{
    font-size: 130%;
    color: #a6a6a6;
    text-align: center;
    font-family: sans-serif;
}